<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">APP STORE</h1>
      <p class="lead text-body-secondary">Esta es la vista principal de mi proyecto de carrito de compras donde se va a mostrar todos los productos.</p>
      <p>
        <a href="#" class="btn btn-primary my-2">Boton 1</a>
        <a href="#" class="btn btn-secondary my-2">Boton 2</a>
      </p>
    </div>
  </div>
</section>

<div class="album py-5 bg-body-tertiary">
  <div class="container">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
 
      <!-- INICIO ARRAY DE PRODUCTOS -->
      <% @products.each do |product| %>
      <div class="col">
        <div class="card shadow-sm">
          <!-- <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> -->

          <div class="img-cont">
            <img class="rounded mx-auto d-block " src="<%= product.image %>" alt="product" width="auto" height="300px">
            <style>
              
            </style>
          </div>
          <div class="card-body">
            <h4 class="card-text text-end text-danger"><%= product.category.name %></h4>

            <p class="card-text"><%= product.name %></p>
            <h2 class="card-text">Precio: S/.<%= product.price %></h2>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                 
              </div>
              <small class="text-body-secondary">Sin descuento</small>
            </div>
          </div>
        </div>
      </div>
      <% end %>
      <!-- FIN ARRAY DE PRODUCTOS --> 

    </div>
  </div>
</div>